.expiry_token {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 450px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .content {
    text-align: center;
    color: var(--mainColor);
    .btn_go_home {
      background-color: var(--mainColor);
    }
    .btn_go_resend_email{
      color: var(--mainColor);
      border-color: var(--mainColor);
    }
  }
}
.form_reset_password {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../../../assets/images/forgot.png');
  min-height: 450px;
  background-position: left;
  background-repeat: no-repeat;
  padding: 60px;
  form {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.432);
    .btn_submit_form{
      background-color: var(--mainColor);
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}
